h2 {
    text-align: center;
    margin: 0;
    font-size: 40px;
    color: #F22222;
}

#account-login {

    text-align: left;
    padding-bottom: 1.5rem;
}


#login-page {
    background-color: rgb(244, 238, 238);
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: black;
}

#login-header {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    background-color: #F22222;
    color: white;
}

#login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#login-container {
    background-color: white;
    /* box-shadow: 0px 2px 5px 0px rgb(129, 125, 125); */
    border: solid rgba(250, 150, 150, 0.553) 1px;
    border-radius: 10px;
    padding: 60px;

}

#login-form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

#login-button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#login-container button {
    text-align: center;
    display: inline-block;
    width: 10rem;
}

a {
    font-size: 1rem;
    color: #F22222;
    font-weight: bold;
}



.button {
    display: inline-block; 
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}