.help-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #d7d5d5;
  }
  
  .contact-info {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .complaint-form {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border: black;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .complaint-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .complaint-form form {
    display: flex;
    flex-direction: column;
  }
  
  .complaint-form .MuiTextField-root {
    margin-bottom: 20px;
  }
  
  .complaint-form .MuiButton-root {
    align-self: flex-middle;
  }