#profile-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    min-height: 90vh;
}

#profile-title {
    font-size: 4rem;
    margin: 0;
    color:#F22222;
    text-align: end;
    padding-right: 3rem;
}

#profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: center;
    gap: 1.2rem;
}

.profile-detail-container {
    display: flex;
    justify-content: space-between;
    gap: 30rem;
    align-items: center;
}

.profile-detail-container > h1 {
    color:#F22222;
}

.profile-details > p {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.2rem 0.4rem;
    width: 20rem;
    
}